{% extends "main/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filter %}
{% block content %}
<section class="container">
<hr>
<div class="col-lg-12">
  <div class="card">
    <div class="card-header  text-center">
       <b class="h3"> Customer Detail Orders Produto</b>
    </div><hr>
         <div class="col-lg-6 d-flex justify-content-between">
            <div>
            <p><strong>Name:</strong> {{ customer.first_name }} {{ customer.last_name }}</p>
            <p><strong>Email:</strong> {{ customer.email }}</p>
            <p><strong>Nu.Telefone:</strong> {{ customer.phone }}</p>
            <p><strong>Hela Fatin:</strong> {{ customer.address }}</p>

            </div>
          </div>
          <hr>
        <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="example"  class="table table-hover table-striped">
                      <thead >
                        <tr>
                          <th>Nu</th>
                          <th class="text-center"><i class="fa fa-user"></i></th>
                          <th>Naran Sasan</th>
                          <th>Presu </th>
                          <th>Quantidade</th>
                          <th>Data Orders</th>
                          <th>Estatus</th>
                         <th>#</th>
                        </tr>
                      </thead>
                       <tbody>
                        {% for data in orders  %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td class="text-center">{% if data.product.image %}<a href="{{data.product.image.url}}" target="_blank"><img src="{{data.product.image.url}}" width="50px" height="50px"></a>{%else%}{%endif%}</td>
                          <td>{{ data.product.name }}</td>
                          <td>$$.{{ data.price }}</td>
                          <td>{{ data.quantity }}</td>
                          <td>{{ data.date }}</td>
                            {% if  data.status == True and data.is_sent == False %}
                            <td><small class="badge badge-success">Prosesu..</small></td>
                            {% elif data.is_sent == True %}
                                <td><small class="badge badge-danger">Paid..</small></td>
                            {% elif data.status == False %}
                            <td><small class="badge badge-warning">Pending</small></td>
                            {% endif %}
                            
                          <td>
                            <div class="d-flex">
                              <div class="flex-fill"><a href="{% url 'notifDetailOrder' data.id %}" class="btn btn-sm btn-info" title="Detalllu"><i class="fa fa-eye"></i></a>
                              </div>
                              <div class="flex-fill">
                              <div class="flex-fill"> <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-{{ data.id }}" style="text-decoration: none"><i class="fa fa-trash"></i></button>
                              </div>
                            </div>
                          </div>
                           </td>  
                          <div class="modal fade" id="delete-{{ data.id}}"><!-- modal -->
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Delete Lista  Order</h4>
                                  <button type="button" class="close" data-dismiss="modal">X</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                  Ita Boot hakarak hamoos dadus order  {{ data.customer.first_name }}?
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                  <a href="{% url 'DeleteOrders' data.id %}" class="btn btn-info">Yes</a>
                                </div>
                              </div>
                            </div>
                        </div><!-- endmodal -->
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
           </div>
        </div>

      </section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready( function () {
        var table = $('#example').removeAttr('width').DataTable( {
            
        });
    } );
      //load Imagen
            function myFunction() {
              var image = document.getElementById("output");
              image.src = URL.createObjectURL(event.target.files[0]);
            }
</script>
{% endblock %}