{% load static %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <!-- <div class="card shadow-lg pt-3 rounded"> -->
      <div class="container mt-5 border border-dark p-3">
                <center><h2>SISTEMA INFORMASAUN FAAN ROUPA ONLINE BA NEVINS-STORE</h2>
                <!--<h4>( E-COMMERCE | TIMOR-LESTE ) </h4></center> -->
              
            <hr>
      <div class="card-body">
        <center>
          <font face = "Verdana"><h2 class="font-weight-normal display-6 text-white p-1 mb-5"style="background: linear-gradient(to bottom, #006600,#003333); text-decoration-color: #000000;">_____BEMVINDU_____</h2></font>
         
          

      </div> <!--end card-body-->
    </div> <!--end card-->
  </div> <!--end col-->
</div> <!--end row-->
{%endblock%}