
<div class="col-md-4 mb-3">
	 {% for a in prodto_categoria %}
	 <table id="example"  class="table table-hover table-striped">
	 		<tr >
	 			<th rowspan="2"><a href="{% url 'catProductList' a.id %}"><li class="list-group-item">{{a.name}}<i class="badge badge-warning float-right"></i></li></a></th>
			<td>
				 <div class="d-flex">
          <div class="flex-fill"><a href="{%url 'updatecategory' a.id %}" class="btn btn-sm btn-info" title="Update"><i class="fa fa-edit"></i></a>
          </div>
          <div class="flex-fill">
          <div class="flex-fill"> <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-{{a.id }}" style="text-decoration: none"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
			</td>
			<div class="modal fade" id="delete-{{ a.id}}"><!-- modal -->
      <div class="modal-dialog">
	      <div class="modal-content">
	        <!-- Modal Header -->
	        <div class="modal-header">
	          <h4 class="modal-title">Delete Product</h4>
	          <button type="button" class="close" data-dismiss="modal">X</button>
	        </div>
	        <!-- Modal body -->
	        <div class="modal-body">
	          Ita Boot hakarak hamoos Categoria Sasan  {{a.name}} ?
	        </div>
	        <!-- Modal footer -->
	        <div class="modal-footer">
	          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
	          <a href="{%url 'DeleteCateory' a.id %}" class="btn btn-info">Yes</a>
	        </div>
	      </div>
	    </div>
	</div><!-- endmodal -->
		</tr>
	 </table>

	{%endfor%}
</div>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>